{% extends "base_template.html" %}

{% block title %} Info {% endblock %}
{% block css %}    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vocab.css') }}">
{% endblock %}
{% block main %}
    <!-- Generated definition list from csv file-->
    <div class="row box">
        <div class="col">
            <dl>
              {% for term in terms %}
                  <dt>{{ term['term'] }}</dt>
                  <dd>{{ term['definition'] }}</dd>
              {% endfor %}
            </dl>
        </div>
    </div>

{% endblock %}